.logo{
    margin-top: 40px;
}
.row1{

    display: flex;
    align-items: center;
}
.he2{
    display: flex;
    flex-direction: row ;
    gap: 15%;
    margin-top: 40px;
    margin-left: 110px;
    font-size: 17px;
}
.he2 :hover{
    text-decoration: underline;
    text-decoration-color:orangered ;
    cursor: pointer;

}
img{

    height: 35px;
}
.he3{
    display: flex;
    /* flex-direction: column; */
    margin-left: 260px;
    gap: 20px;
    margin-top: 40px;
    color: green;
    cursor: pointer;
    font: bolder;
}