.Cont2{
/* border: 1px solid black; */
height: 400px;
width: 1510px;


}
.our{
    display: flex;
    margin-top: 30PX;
    gap: 3%;
    margin-left: 15%;
    color: #092347;
}
.our img{
    height: 28px;
}
h1{
    color: #002d6b;
    text-align: center;
    margin-top: 80px;
}
.counting{
    height: 150px;
    margin-top: 50px;
    width: 1100px;
    border-radius: 60px ;  
    background-color: #002d6b;  
    display: flex;
}
.count1{
    justify-items: center;
}
.box{
    
    height: 80px;
    width: 60px;
    background-color: #394d6b;
    font-size: 50px;
    text-align: center;
    color: aliceblue;

}
.mbox{
    display: flex;
    gap: 5px;
    margin-top: 30px;
    margin-left: 100px;
}
.h1{
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
}