#Designhtag {
    margin-left: 100px;
    text-align: start;
  }
  
  .Desgin2 h6 {
    margin-top: -40px;
  }
  
  .Desgin2{
    margin-top: -70px;
  }
  #indicates {
    margin-top: 10px;
    margin-left: 60px;
    color: #002d6b;
  }
  
  .mainfromdiv {
    width: 780px;
    margin-left: 70px;
    margin-top: 0px;
    display: flex;
  }
  
  .sidedes {
    width: 380px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #002d6b;
  }
  
  .sidedes label {
    margin-top: 50px;
  }
  
  .sidedes div {
    margin-left: 18px;
    margin-top: -10px;
  }
  
  .sidedes input {
    width: 350px;
    height: 45px;
    font-size: 14px;
  }
  
  #country input {
    width: 165px;
  }
  
  .AdditionalInformation {
    margin-left: 70px;
    margin-top: 70px;
  }
  
  .AdditionalInfor {
    text-align: start;
    color: #002d6b;
    font-size: 16px;
    font-weight: 500;
  }
  
  .additional-buttons button {
    background-color: #002d6b;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .additional-buttons button:hover {
    background-color: #0041a3;
  }
 
  .input-with-delete {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .input-with-delete input {
    width: 300px;
    height: 45px;
    padding: 8px;
    font-size: 14px;
    margin-left: -35px;
    width: 350px;
}
  
  .delete-btn {
    background-color: transparent;
    border: none;
    color:blue ;
    font-size: 18px;
    cursor: pointer;
  }
  
  input[type="text"],
  input[type="email"] {
    
    height: 48px;
    /* padding: 10px 12px; */
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:focus {
    border: 1px solid #1e90ff;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.3);
    outline: none;
  }
  
  label {
    font-weight: 600;
    color: #002d6b;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: -40px;
  }
  
  button {
    background-color:white;
    color:  #002d6b;
    padding: 8px 14px;
    border-radius: 50px;
    margin-left: 10px;
    height: 3%;
    border: 3px solid darkblue;
    cursor: pointer;
  }
 .faTrash{
    cursor: pointer;
 }
 button:hover{
    background-color: #1e90ff;
    color: white;
 }