.MainDesgin{
    display: flex;
    flex-direction: row;
}
.Resumeimg{
    height: 450px;
    margin-top: 120px;
    margin-left:20px;
    
}
#nextclickbtn{
    margin-top: 20px;
    border: 1px solid blue;
    width: 120px;
}
#nextclickbtn:hover{
    background-color: green;

}