.Desgin1{
    border: 1px solid black;
    height: 720px;
    width: 300px;
    background-color: #092347;
}
#Desgin1h1tagg h6{
/* margin-right: 500px; */
margin-top: 10px;
font-size: 25px;
color:white;
}
#Desgin1h1tagg span{
    color: orangered;
}
.circle {
    border-radius: 50%;
    border: 2px solid white;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 28px;
    /* font-weight: bold; */
    background-color: #092347;
    margin-top: 20px; 
  }
    
  .filledCircle {
    border-radius: 50%;
    border: 2px solid white;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 28px;
    /* font-weight: bold; */
    background-color: orangered;
    margin-top: 20px; 
  }
  .text {
    color: whitesmoke;
    margin-left: 10px;
    font-size: 25px;
    margin-top: 20px;
  }
  
.maintag {
    display: flex;
    align-items: center;

    cursor: pointer;
    margin: 15px 0; 
    padding-left: 20px;
  }
  